.task1 {
  background-color: green;
  height: max-height;
  width: max-width;
}
.task2 {
  background-image: url('/img/img-400x200.jpg');
  background-size: cover;
}
.task3 {
  background-image: linear-gradient(yellow, red);
}
.task4 {
  background: radial-gradient(
    closest-side,
    #3f87a6,
    #ebf8e1,
    #f69d3c
  );
}
.task5 {
  background: conic-gradient(
    from 3.1416rad at 10% 50%,
    #e66465,
    #9198e5
  );
}
.task6 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: repeat-x;
}
.task7 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: repeat-y;
}
.task8 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: no-repeat;
}
.task9 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: space;
}

.task10 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: round;
}
.task11 {
  background-image: url('/img/img-400x200.jpg');
  background-attachment: scroll;
}
.task12 {
  background-image: url('/img/img-400x200.jpg');
  background-attachment: fixed;
}
.task13 {
  background-image: url('/img/img-400x200.jpg');
  background-attachment: local;
}
